package loginpage

import (
	"github.com/FerberJ/goauth/frontend/layouts"
	"github.com/FerberJ/goauth/frontend/components/loginform"
)

templ Login() {
	@layouts.Base("templ-app") {
	<div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
		<div class="w-full max-w-sm">
			@loginform.LoginForm()
		</div>
	</div>
		}
}



