AUTH_SECRET=secrectstring
AUTH_SMTP_CLIENT=client
AUTH_SMTP_USERNAME=loginuser
AUTH_SMTP_PASSWORD=loginpw
AUTH_SMTP_PORT=000
AUTH_VERIFICATION_TOKEN_BYTES=10
AUTH_VERIFICATION_TOKEN_TTL=900000000000
AUTH_VERIFICATION_ENDPOINT=http://localhost:1122
AUTH_REFRESH_TOKEN_TTL=2592000000000000