package resetpwform

import (

	"github.com/FerberJ/goauth/frontend/components/card"
	"github.com/FerberJ/goauth/frontend/components/input"
	"github.com/FerberJ/goauth/frontend/components/field"
	"github.com/FerberJ/goauth/frontend/components/button"
	"github.com/FerberJ/goauth/frontend/components/icon"
)

templ ResetPW() {
	<div class="flex flex-col gap-6">
		@card.Card() {
			@card.Header() {
				@card.Title() {
					Reset password
				}
				@card.Description() {
					Enter your email below to reset password
				}
			}
			@card.Content() {
				<form>
					@field.Group() {
						@field.Field() {
							@field.Label(field.LabelProps{For: "email"}) {
								Email
							}
							@input.Input(input.Props{
								ID:          "email",
								Type:        "email",
								Placeholder: "m@example.com",
								Required:    true,
							})
						}
						@field.Field() {
							@button.Button(button.Props{Type: button.TypeSubmit}) {
								@icon.Send()
								Send reset email
							}
							@field.Description(field.DescriptionProps{Class: "text-center"}) {
								Still remeber your password? <a href="/auth/_/">Sign in</a>
							}
						}
					}
				</form>
			}
		}
	</div>
}
